.requirement {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.requirementIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

.success {
  background-color: var(--success-color);
}

.error {
  background-color: var(--error-color);
}
